/* Global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 2.6rem;
}

li,
button,
label,
input,
p {
  font-size: 2rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3rem;
  font-weight: normal;
}

h4,
h5 {
  font-size: 2.8rem;
}

a {
  color: #fff;
  text-decoration: none;
}

button {
  padding: 2rem 6rem;
  background: #4c6e97;
  border: none;
  color: #fff;
  font-size: 1.8rem;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
}

button:hover {
  background: #eb7c33;
}

button:focus {
  background: #2c3f57;
}

/**************************
*** Nav section with Her **
**************************/

.main-head {
  background: #131c27;
  color: #eb7c33;
  position: sticky;
  top: 0px;
  z-index: 3;
}

nav {
  min-height: 10vh;
  display: flex;
  padding: 2rem;
  width: 90%;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

#logo {
  flex: 2 1 40rem;
  font-family: 'Pattaya', sans-serif;
  font-weight: 400;
}

.hero {
  min-height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), transparent), url('../img/facing-sunset.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h3 {
  padding: 5rem;
}

/********************
****** Locations ****
********************/

#locations {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url('../img/photo-of-new-york-city-cityscape-2404843.jpg');
  background-size: cover;
  background-position: center;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.locations-head {
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
}

.locations-head h2 {
  padding: 1rem 0;
}

.locations-head h3 {
  padding: 4rem 0;
}

.cloud {
  position: absolute;
  opacity: 0.7;
  width: 280rem;
  height: 110rem;
  top: -50%;
  left: -30%;
  animation: cloudAnimation 20s infinite alternate ease-in-out;
  pointer-events: none;
}

@keyframes cloudAnimation {
  from {
    transform: translate(10%, 5%);
  }

  to {
    transform: translate(0%, 0%);
  }
}

/******************
**** Benefits ****
******************/

#benefits {
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url('../img/white-and-black-mountain.jpg');
  background-size: cover;
  background-position: center;
}

.benefits-head {
  background: #131c27;
  padding: 3rem;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

.benefits-head h3 {
  padding: 1rem;
}

.cards {
  width: 90%;
  margin: auto;
  display: flex;
  min-height: 70vh;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  text-align: center;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
  flex: 1 1 25rem;
  min-height: 40vh;
  margin: 2rem 5rem;
  background: #fff;
}

.cards img {
  max-width: 15%;
  margin: 1rem;
}

.card h4,
.card p {
  padding: 3rem;

}

.card-icon {
  background: #4c6e97;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
}

.card-icon:hover {
  background: #eb7c33;
}

/******************
**** Contacts ****
******************/

#contact {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url('../img/standing6.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  background: rgba(19, 28, 39, 0.8);
  width: 60%;
  color: #fff;
  border-radius: 20px;
}

.form-head {
  text-align: center;
  padding: 4R;
}

.name-form,
.email-form {
  text-align: center;
  padding: 3rem;
}

.form-wrapper label {
  margin: 0rem 3rem;
}

.form-wrapper button {
  width: 100%;
  padding: 2rem;
  margin-top: 8rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.form-wrapper input {
  padding: 1rem 3rem;
}

/******************
**** Footer *******
******************/

footer {
  color: #fff;
  background: #131c27;
}

.footer-wrapper {
  display: flex;
  padding: 2rem;
  width: 90%;
  margin: auto;
  align-items: center;
  min-height: 10vh;
  flex-wrap: wrap;
}

footer ul {
  display: flex;
  list-style: none;
  flex: 1 1 40rem;
  justify-content: space-between;
  align-items: center;
}

footer h5 {
  flex: 1 1 40rem;
  color: #eb7c33;
  font-family: 'Pattaya', sans-serif;
  font-weight: 400;
}